@model demo1.ViewModels.JsEditDTO
@{
    ViewBag.Title = "修改角色信息";
}

@section css{
}
<div class="row">
    <div class="col-xs-12"><h3>@ViewBag.Title</h3></div>
</div>

<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="nav-item active">
                <a href="#basic" role="tab" class="nav-link active" data-toggle="tab">基本信息</a>
            </li>
            <li role="presentation" class="nav-item">
                <a href="#qx" role="tab" class="nav-link" data-toggle="tab">角色权限</a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="basic">
                @using (Html.BeginForm("Edit", "Js", FormMethod.Post, new { id = "editForm" }))
            {

                    @Html.HiddenFor(model => model.js.jsid)
                    <div class="form-group">
                        <label for="js.jsmc">角色名称</label>
                        <p class="form-control-static">@Html.DisplayFor(model => model.js.jsmc)</p>
                        @Html.HiddenFor(model => model.js.jsmc)
                    </div>
                    <div class="form-group">
                        <label for="js.jssm">角色说明</label>
                        <input type="text" name="jssm" value="@Html.DisplayFor(model=>model.js.jssm)" class="form-control" />
                        <span style="color:orangered;"></span>
                    </div>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(model=>model.js.islock)
                            是否启用
                        </label>
                    </div>

                    <input id="btnSave" type="button" class="btn btn-primary" value="保存" />
                    @Html.ActionLink("返回", "List", null, new { @class = "btn btn-link" });
            }
            </div>

            <div role="tabpanel" class="tab-pane" id="qx">
                <form name="jsgnForm" id="jsgnForm" class="form-inline" action="Js/JsgnEidt">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>功能</th>
                            <th>操作</th>
                        </tr>
                        @foreach (var item in Model.jsgns)
                        {
                            <tr>
                                <td>
                                    @item.controllername
                                </td>
                                <td>
                                    @foreach (var a in item.actions)
                                    {
                                        <label class="checkbox-inline">
                                            <input type="checkbox" @if (a.isallow == true) { @: checked="checked"
                                                                                               } name="@a.action" value="@a.gnid" />@a.actionname
                                                                                        </label>
                                    }
                                </td>
                            </tr>
                        }
                    </table>

                    <input type="button" id="btnJsgn" class="btn btn-primary" value="保存" />
                </form>
            </div>

        </div>


    </div>
</div>



@section js{
    <script src="~/Assets/scripts/jquery.validate.js"></script>
    <script src="~/Assets/scripts/jsedit.js"></script>
}

